

#slider{
  position: relative;

  height: 10px;
  color: white;
  opacity: 0.5;

}

#googleMap {
  position: absolute;
  background: #444;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  margin: 0;
  padding: 0;
}

#landscape{text-align: center;
  height: 700px;
  top:-40px;

}
.slideshow-container{height:640px;background-color: darkgrey;width:95%;margin:auto;}
  .slideshow-container .arrow{font-weight:bold;font-size: 36pt;position:relative;display:inline-block;color:lightgrey;}
    .slideshow-container .arrow:hover{color:black;cursor:pointer;}
    .slideshow-container .arrow.left{top:280px;}
    .slideshow-container .arrow.right{top:280px;float:right;}
.slideshow{height:100%;width:829px;visibility:hidden;background-color: lightgrey;display:inline-block;text-align:center;}
.slide{visibility:hidden;border:0px solid black;width:0px;height:0px;}
.slide img{height:0px;}

.slide.active{visibility:visible;height:640px;}
.slide.active img{height:640px;}
.slideshow.active{visibility:visible;}

.client-summary .about{border:1px solid transparent !important;}
.client-summary .headshot{text-align:center;margin-top:10px;}
.client-summary .headshot img{width:256px;}
.client-summary .overview{text-align:left;margin:auto;width:250px;font-size:10pt;}
.client-summary{display:none;}
.client-summary.active{display:block;}

.client-summary.active .description > div{font-weight:normal;}
.client-summary.active .description div:first-child{font-weight:bold !important;}

.container.about p{margin:auto;text-align:left;width:700px;font-size: 12pt;padding-bottom: 20px;}
.container.aboutp::first-line{text-indent: 10px !important;}
.container.about  p.first-paragraph:first-letter{font-weight: bold;font-size: 16pt;}
.client-summary .about.description { }
.client-summary .about,.client-summary .summary {
  padding: 8px 8px;
  }
g.group text{font-size: 10.5pt !important;}
/* .input{
  width: 20px; 
    height: 20px; 
    padding-top: 10px;
 }*/
/* .choose_text{
  font-size: 14px;
  color: black;
  vertical-align:top;
 }*/
/* .clear_right{
  clear:right;
 }*/
/*.triptime{
  margin-top: -8px;

}*/
.border{height: 2px;}

.subtitle{
 font-size: 16px;
 font-style:italic;
 margin-top: 4px;
}



.logo{
	float: left;
	display: inline;
	font-size: 31px;
	margin-left: 20px;
  margin-top:10px;
	font-family: cursive;
	font-weight: bold;
	color: rgba(173, 204, 253, 0.96);

}
.copyright{
  font-size: 10px;
  color:white;
}
div.center{margin:auto;text-align: center;}

#investors-and-issues h2{position:relative;left:-110px;top:0px;}

#chord-legend-container{width:100%;margin-top:20px;border:10px;border-radius:10px;}
#chord-legend-container span {padding-right:20px;}

#landscape-header{margin-top:60px;margin-bottom:0px;}
/* chord all */
    #chord-container{overflow:hidden;width:1500px;height:900px;border:0px solid black;margin:auto;margin-top:-100px;}
    #chord{width:1160px;border:0px solid white;display:inline-block;float:right;overflow:visible;}
    #chord-details{width:320px;text-align:left;border:1px solid black;display:inline-block;height:798px;overflow-y:auto;overflow-x:hidden;float:left;}
    #chord-svg{overflow:visible;padding-top:80px;}
    #tooltip {
        color: white;
        opacity: .9;
        background: #333;
        padding: 5px;
        border: 1px solid lightgrey;
        border-radius: 5px;
        position: absolute;
        z-index: 10;
        visibility: hidden;
        white-space: nowrap;
        pointer-events: none;
    }
    #circle{overflow:visible !important;border:1px solid lightgrey !important;}
    #circle circle {
      fill: none;
      pointer-events: all;
    }
    path.group {
      fill-opacity: .8;
    }
    path.chord {
      fill-opacity: .8;
      stroke: #000;
      stroke-width: .25px;
    }
    #circle:hover path.fade {
      display: none;
    }
    g text:hover{font-size:16pt !important;font-weight:bold;cursor:pointer;}
/* end of chord all */

/* marriage equality map stuff */

.background {
  fill: none;
  pointer-events: all;
}

.feature {
  fill: #ccc;
  cursor: pointer;
}

.feature.active {
  fill: darkgrey;
}

g path.feature:hover{fill:darkgrey;}
.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.left{float:left;}

.title{font:15pt bold sans-serif;font-weight:bold;}

#marriage-equality-container{display:inline-block; width:100%;border:1px solid white;}
#marriage-equality{margin:auto;width:1200px;border:1px solid grey;border-radius:10px;padding:5px;}
#slider-me-and-details{
  vertical-align: top;
  border:1px solid white;
  display:inline-block;
  width:380px;
  height:500px;
  float:left;
}
  #slider-me{border:1px solid brown;margin-left:6px;top:5px;visibility:none;display:none;margin-top:40px;height:400px;}
    #slider-me.active{visibility:visible;display:inline-block;};
  #slider-me-title{width:235px;float:right;border:1px solid white;text-align:center;margin-right:10px;}
  #slider-me-description{margin-top:-15px;padding:0px 6px;width:300px;float:right;border:1px solid white;text-align:center;margin-right:10px;height:450px;text-align:left;font-style:italic;overflow:auto;}
    #slider-me-description p{margin-top:0px;}
  #slider-me-container{border:1px solid white;text-align:center;width:40px;text-align:center;}
#slider-me-add-year{margin-top:20px;visibility:none;display:none;font-size:8pt;height:22px;color:brown;width:48px;font:sans-serif;font-weight:bold;padding:5px 0 0 0;border-radius:4px;clear:left;text-align:center;left:-20px;
 background: url("images/ui-bg_glass_100_f6f6f6_1x400.png") repeat-x scroll 50% 50% #f6f6f6;
    border: 1px solid #cccccc;
    font-weight: bold;
}
#slider-me-add-year.active{visibility:visible;display:inline-block;float:left;}
#slider-me-add-year:hover{cursor:pointer;text-align:center;
  background: url("images/ui-bg_glass_100_fdf5ce_1x400.png") repeat-x scroll 50% 50% #fdf5ce;
  border: 1px solid #fbcb09;
}

#map-container{display:inline-block;border:1px solid white;}
